

<html>
<head>
    <!-- Plotly.js -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    @{ Html.RenderPartial("_Layout"); }

    <!-- Plotly chart will be drawn inside this DIV -->
    <div id="graphDiv"></div>


    <script src="~/Script/RealTime.js"></script>

</body>
</html>
