<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>


    <div class="w3-bar w3-black">
        <a class="w3-bar-item w3-button" href="@Url.Action("Index","Home")">IP address</a>
        <a class="w3-bar-item w3-button" href="@Url.Action("Weather","Home")">Weather</a>
        <a class="w3-bar-item w3-button" href="@Url.Action("Realtime","Home")">Real Time Graph</a>
    </div>

</body>
</html>
